{% extends 'base.html' %}


{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load staticfiles %}

{% block content %}

  <!-- Generated form to make the queries -->
  <form method="get">
    {% bootstrap_form filter.form %}
    <button type="submit" class="btn btn-primary" id="btn-search">Search</button>
  </form>

  <!-- Shoe the results of the search by default all are shown -->
   {%  for event in filter.qs %}
        <div class="row content">
          <div class="col-md-4">
              <img class="img-responsive rounded mb-3 mb-md-0" src="{{ event.image.url }}" alt="image">
          </div>
          <div class="col-md-8">
            <h3>{{ event.name }} - {{event.date_begin}} until {{event.date_end}}</h3>
            <p>{{ event.description }}</p>
          </div>
        </div>
  {% endfor %}
{% endblock %}
