{% extends 'base.html' %}
{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}Home{% endblock %}

{% block content %}
  {% for date, events in date_events.items %}
     <h1>{{ date }}</h1>
     {%  for event in events %}
          <div class="row content">
            <div class="col-md-4">
                <img class="img-responsive rounded mb-3 mb-md-0" src="{{ event.image.url }}" alt="image">
            </div>
            <div class="col-md-8">
              <h3>{{ event.name }}</h3>
              <p>{{ event.description }}</p>
            </div>
          </div>
    {% endfor %}
  {% endfor %}
{% endblock %}
