{% extends 'home/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  {% for event in event_list %}
  <div class="row content">
    <div class="col-md-4">
      <a href="#">
        <img class="img-responsive rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="image">
      </a>
    </div>
    <div class="col-md-8">
      <h3>Project One</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
      <a class="btn btn-primary" href="#">View Project</a>
    </div>
  </div>
  {% endfor %}
{% endblock %}
